<!DOCTYPE html>
<html>
	<head>
		<?php global $titulo; ?>
		<title><?php echo $titulo; ?></title>
	</head>
	<body>
		<?=$this->content?>
		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="plugins/jsviews.min.js"></script>
		<script src="js/actions.js"></script>
	</body>
</html>
